<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ITunesOmega.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C9A437D27C10005001C6B65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C9A439327C10006001C6B65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C9A439D27C10006001C6B65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
